.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 400px) {
    width: unset;
  }

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 400px) {
      flex-direction: column;
      height: 110px;
    }
  }

}